
.ui.message {
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: rgb(55, 81, 95);
    padding: 1em 1.5em;
    line-height: 1.4285em;
    color: rgba(222, 164, 126);
    transition: opacity .1s ease,color .1s ease, background .1s ease, box-shadow .1s ease;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px rgb(34 36 38 / 22%) inset, 0 0 0 0 transparent;
}

.docs-icon-set-column .icon {

    color: rgb(222, 164, 126);
    transform: scale(1);
     transition: opacity 0.2s, color 0.2s, transform 0.2s; 
    background-color: white;
}

a {
    color: rgb(222, 164, 126);
    text-decoration: none;
}
.ui.segment {
    position: relative;
    background: rgb(55, 81, 95) ;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.ui.teal.header {
    color: rgb(222, 164, 126)!important;
}
.ui.teal.button, .ui.teal.buttons .button {
    background-color: rgb(222, 164, 126);
    color: #fff;
    text-shadow: none;
    background-image: none;
}     
  .ui.teal.buttons.Change:hover{
    background-color: rgb(222, 137, 190)!important;
    transition:0.7s; 
  }
  .ui.form input[type=file] {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: white;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(222, 164, 126, .87);
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease,border-color .1s ease;
}
.ui.input>input {
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: 0.67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 0.28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

